<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Summary:</b>
  <%= @book.summary %>
</p>

<p>
  <b>Acquired:</b>
  <%= @book.acquired %>
</p>

<p>
  <b>Condition:</b>
  <%= @book.condition %>
</p>

<p>
  <b>Keywords:</b>
  <%= @book.keywords %>
</p>


<%= link_to 'Back', items_path %>